@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Alexandria", sans-serif;    
}


.mom{
    display: flex;
    flex-direction: row-reverse;
}
.side-bar{
    width: 5%;
height: 100vh;
background-color: rgb(255, 255, 255);
transition: 0.6s;
display: flex;
flex-direction: column;
align-items: center;
padding: 10px;
overflow: hidden;
margin: 0;
z-index: 3;
h2{
    display: none;
    font-size: 16px;
}
img{
    width: 40px;
}
a{
    color: black;
    text-decoration: none;
}
}
marquee{
    z-index: 10;
    font-family: "Alexandria", sans-serif;
    color: black;
    display: inline;
    font-size: 16px;
}
.side-bar .content{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: 5px;
    padding: 3px;
}
.content:hover{
    background-color: aqua;
}
.side-bar-large{
    width: 15%;
    align-items: start;

    
h2{
    display: block;
}
img{
    margin-left: 10px;
}
}
main{
    height: 100vh;
    width: 95%;
    background-color: rgb(219, 219, 219);
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(img/forest-7774205_1920.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    transition: all 1s;
    overflow-y: scroll;
    z-index: 2;

  
}
::-webkit-scrollbar{
    width: 20px;
    z-index: 4;
}
::-webkit-scrollbar-track{
    background-color: white;
    
    z-index: 4;

}
::-webkit-scrollbar-thumb{
    background-image: linear-gradient(to top,aqua,violet);
    transition: 2s;
    z-index: 4;

}
:-webkit-scrollbar-thumb:hover{
    background-image: linear-gradient(to bottom,aqua,violet);
    z-index: 4;


}
.titr{
    display: flex;
    align-items: center;
    justify-content: center;
}
.title{
    width: 93.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(to left,violet,aqua );
    color: white;
position: fixed;
    img{
        width: 50px;
        background-color: black;
        border-radius: 40%;
        margin: 7px;
    }
}
.xx:c{
    background-color: black;
}
.xx{
width: 100%;
display: flex;
justify-content: center;
}
.corse{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 20px;
    padding: 20px;
    background-color: #043e9b;
    width: 40%;
    border-radius: 7px;
    color: white;
    transition: 0.6s;
   height: 100px;
  overflow: hidden;

   .link{
    display: none;
   }
   br{
    display: none;

   }
}
.corse::-webkit-scrollbar{
    width: 0px;
    z-index: 4;
}
.corseh::-webkit-scrollbar{
    width: 0px;
    z-index: 4;
}
.corse-large{
    width: 40%;
    height: 400px;
}
.tit{
    transition: 0.6s;

    display: flex;
    align-items: center;
a{
    color: aquamarine;
    margin-left: 5px;
}
img{
    width: 40px;
    margin: 8px;
}
}
.link{
    display: flex;
    transition: 0.6s;
    direction: rtl;
margin: 10px;
    a{
        color: aquamarine;
        margin-right: 5px;
    }
}
.corse:hover{
    transition: all 0.6s;
    justify-content: start;
  
    .link{
     display: flex;
    }
    br{
     display: block;
    }
}
.link iframe{
    width: 450px;
    height: 270px;
}

#ch{
    overflow: auto;
}
.cat{
    background-color: #333A73;
    border-radius: 7px;
    color: white;
    padding: 7px;
    width: 70%;
    display: flex;
    justify-content: center;
    transition: 0.5s;
}
.cat:hover{
    background-color: #874CCC;
}

@media (max-width:600px) {
    .mom{
        flex-direction: column;
    }
    
    .tot{
    
            display: none;
        
    }
    .side-bar{
    align-items: start;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 70px;
    position: fixed;
    margin-top: 83px;
    overflow-x: scroll;
    }
    .side-bar .content{
        width: 160px;
        padding: 3px;
        margin: 3px;
        img{
            width: 35px;
        }
    }
    .side-bar::-webkit-scrollbar{
        width: 0px;
        z-index: -77;
    }
    .side-bar-large{
        align-items: start;
    
        
    h2{
        display: none;
    }
    img{
        margin-left: 10px;
    }
    }
    main{
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .xx{
        flex-direction: column;
        width: 100%;
    }
    .corse{
        width: 90%;
    }
   .tit{
    font-size: 14px;
   }
    .title{
        width: 100%;
    }
    ::-webkit-scrollbar{
        width: 0px;
        z-index: 4;
    }
    ::-webkit-scrollbar-track{
        background-color: white;
        
        z-index: 4;
    
    }
    ::-webkit-scrollbar-thumb{
        background-image: linear-gradient(to top,aqua,violet);
        transition: 2s;
        z-index: 4;
    
    }
    :-webkit-scrollbar-thumb:hover{
        background-image: linear-gradient(to bottom,aqua,violet);
        z-index: 4;
    
    
    }
    #cat{
        margin-top: 70px;
    }
    .link iframe{
        width: 400px;
        height: 220px;
    }
}